*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: rgba(27, 27, 253, 0.767);
    color: black;
}

img{
    border-radius: 100%;
    width: 10%;
    display: flex;
    margin-left: 5%;
    justify-content: space-between ;
}

