.divsimples{
    background-color: lightcyan;
    text-align: center;
    border: 1px solid black;
    
}

.divtratada:hover>p{
    background-color: red;
    text-decoration: underline;
    font-weight: bold;
    opacity: 95%;
}

.divtratada{
    display: inline-block;
    background-color: lightcyan;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

div>div{
    height: 30px;
    text-align: center;
}