body{
    background-color: azure;
    color: aqua;
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%, rgba(11,32,59,1) 11%, rgba(16,49,71,1) 17%, rgba(22,69,85,1) 24%, rgba(24,78,91,1) 27%, rgba(29,95,104,1) 33%, rgba(31,104,110,1) 36%, rgba(34,113,116,1) 39%, rgba(38,127,126,1) 44%, rgba(44,150,142,1) 52%, rgba(60,128,102,1) 60%, rgba(51,141,125,1) 66%, rgba(44,151,144,1) 71%, rgba(38,160,159,1) 75%, rgba(30,170,178,1) 80%, rgba(23,181,197,1) 85%, rgba(0,212,255,1) 100%);)
}

h1{
    background-color: yellow;
    color:red;
}

